<label class="card-variant" for="add_to_cart_productVariant_{{ productVariant.id }}">
	<input type="radio" value="{{ productVariant.id }}" name="add_to_cart[productVariant]" id="add_to_cart_productVariant_{{ productVariant.id }}" class="input-radio-add-to-cart">
	<p class="card-variant-size">{{ productVariant.size }}</p>
	<p class="card-variant-price">{{ priceTTC(productVariant)|format_currency('EUR') }}</p>
</label>
